/* Common styles */

body {
  /* font-family: "Cantarell", sans-serif;  */
   font-size: medium;
}

.container {
  min-width: 10px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  color: black;
  transition: box-shadow 0.3s ease;
}

.form-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-description {
  margin-left: -15px;
  width: 100%;
  height: 530px;
  margin-bottom: 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 15px;
  resize: none;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 18px;
  font-size: larger;
  font-family: "Cantarell", sans-serif;
  text-align: justify;
}

.job-description:focus {
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.btn {
  display: inline-block;
  width: 350px;
  min-height: 19px;
  padding: 10px;
  padding-left: 1px;
  margin-top: 30px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Cantarell", sans-serif;
    transition: all 0.3s ease;
  font-weight:300;
  font-size: large;
}
.btn:hover {
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
  color: blue;
  margin-left: -50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.resume-data {
  margin-bottom: 20px;
  font-family: "Cantarell", sans-serif;
    font-size: larger;
  text-align: justify;
  margin-left: 10px;
  line-height: 1.5;
}

.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 220px;
  height: 45px;
  padding: 2px;
  padding-top: 23px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Cantarell", sans-serif;
  font-size: larger;
  text-align: center;
  transition: all 0.3s ease;
  align-content: center;
  margin-left: 41%;
}

.file-input:hover {
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-input input[type=file] {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .job-description {
    height: 250px;
  }

  .btn {
    width: 100%;
  }

  .file-input {
    width: 100%;
    margin-left: 38%;    
  }
}
.made{
  margin-top: 20px;
  font-size: 20px;
  color: #007bff;
  font-weight: 500;
  font-family: "Cantarell", sans-serif;
   text-align: right;
  margin-left: 10px;
  line-height: 1.5;
}
